{
  "arrowParens": "always",
  "importOrder": ["^@src"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5"
}